.results {
  width: 350px;
  position: relative;
  bottom: 39px;
}

.results_container {
  background-color: #ebebeb;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.filtered_data--table_body {
  border-bottom: 1px solid;
  padding: 0 10px;
}
.filtered_data--table_body__title {
  padding-left: 15px;
}

@media only screen and (max-width: 500px) {
  .results {
    width: 250px;
  }
}