.results {
  width: 80%;
}

.filtered_data--table_body {
  background-image: linear-gradient(#ffbaba, #35cfba);
  border-radius: 10px;
  padding: 5px 30px;
  margin: 20px 0;
}

.filtered_data--table_body__title {
  padding-left: 15px;
}

@media only screen and (max-width: 500px) {
  .results {
    width: 250px;
  }
}